/*
Error: Invalid property: "margin:" (no value).
        on line 7 of sass/main.sass

2:     color: #111
3:     font-size: 80px
4:     text-shadow: 0px 6px #cdcdcd
5:     border-radius: 50%
6:     padding: 60px
7:     margin:

Backtrace:
sass/main.sass:7
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:759:in `parse_property'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:708:in `parse_property_or_rule'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:667:in `parse_line'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:540:in `build_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:559:in `block in append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:549:in `block in build_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `build_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:559:in `block in append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:417:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"margin:\" (no value).\A         on line 7 of sass/main.sass\A \A 2:     color: #111\A 3:     font-size: 80px\A 4:     text-shadow: 0px 6px #cdcdcd\A 5:     border-radius: 50%\A 6:     padding: 60px\A 7:     margin:"; }
